@page "/"

<h1>حسابداری شخصی</h1>

به برنامه
<b>حسابداری</b>
 خوش امدی

<br />

<a class="btn btn-danger" href="/cost">ثبت دسته هزینه ها</a>
<br />
<br />
<a class="btn btn-warning" href="/expense">ثبت هزینه</a>
<br />
<br />
<a class="btn btn-info" href="/expenseslist">لیست هزینه ها</a>



