@inherits LayoutComponentBase
@inject IStringLocalizer<SharedRes> L
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="top-row">
        <div class="px-4">
            <small>SM Team</small>
        </div>

    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
